@import './custom-antd';

@import './colors';
@import './typography';

@import './results';
@import './metrics';
@import './info-page';

.app {
  text-align: center;
  padding: 0 1rem;

  .footer {
    .logo {
      width: 180px;
      margin-top: 1rem;
    }
  }
}
