// Ant Design elements colors are managed in /node_modules/antd/dist/my-theme.less
// How to update colors: https://dev.to/agmm/simple-way-of-modifying-ant-design-default-theme-3g4h

$dark-blue: #21458c;
$blue-grey: #5e6784;
$orange: #ff7500;
