.results {
  .bucket {
    max-width: 100px;
    margin-top: 2rem;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .description {
    margin-bottom: 2rem;
  }

  .risk-container {
    margin-bottom: 2rem;

    .description {
      margin-bottom: 0;
    }

    .percentage {
      font-weight: 600;
      color: $dark-blue;
      font-size: 3rem;
    }
  }

  .buttons {
    width: 250px;
    margin: auto;

    .offerte {
      margin-bottom: 1rem;
      width: 100%;
    }

    .back {
      width: 100%;
      margin-left: 0;
      display: block;
    }
  }

}
