@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

body {
  font-family: Raleway, sans-serif;
  color: $blue-grey;
  font-size: 16px;
}

h1, h2, h3 {
  font-weight: 700;
  color: $dark-blue;
}
